[user]
	email = mira@mirachan.net
	name = mirachan010
	signingKey = 990C3ED5D544D6E32CED869FA01340F8B78B4EA8
[color]
    ui = true
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[url "github:"]
    Instead0f = https://github.com/
    Instead0f = git@github.com
[core]
	editor = vim -c \"set fenc=utf-8\"
[ghq]
	root = ~/ghq
[init]
	defaultBranch = master
[gui]
	recentrepo = C:/Users/mira/dotfiles
	fontui = -family Cica -size 16 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Cica -size 16 -weight normal -slant roman -underline 0 -overstrike 0
	encoding = utf-8
[credential "https://huggingface.co"]
	provider = generic
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = D:/tools/SwichBot
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
