[user]
	email = mirachan010@gmail.com
	name = mirachan010
[color]
    ui = true
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
[url "github:"]
    Instead0f = https://github.com/
    Instead0f = git@github.com
[core]
	editor = vim -c \"set fenc=utf-8\"
[ghq]
	root = /home/mira/git
[init]
	defaultBranch = master
[gui]
	recentrepo = C:/Users/mira/dotfiles
	fontui = -family Cica -size 16 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Cica -size 16 -weight normal -slant roman -underline 0 -overstrike 0
	encoding = utf-8
[credential "https://huggingface.co"]
	provider = generic
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
